      <h2 class="govuk-heading-l">
        Try them out
      </h2>
      <p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="autocomplete">alpha gov accessible autocomplete - progressive enhanced (recommended)</a></li>
          <li><a href="autocomplete-basic">alpha gov accessible autocomplete - basic</a></li>
          <li><a href="autocomplete-dsennef">extended version of Adam Silvers accessible autocomplete</a> - extended with shortcut buttons, by Darin Senneff (@dsenneff) (<a href="https://codepen.io/dsenneff/pen/PoqONrO">source</a>)</li>
        </ul>
      </p>