{% extends "layout.html" %}

{% block pageTitle %}
  Autocomplete example from Darin Senneff
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="index">Back</a>

<style>
@import url('https://rsms.me/inter/inter.css');

:root {
  /* swatches taken from US Design System: https://designsystem.digital.gov/design-tokens/color/system-tokens/ */
  --color-blue-5: #eff6fb;
  --color-blue-10: #d9e8f6;
  --color-blue-20: #aacdec;
  --color-blue-30: #73b3e7;
  --color-blue-40: #4f97d1;
  --color-blue-50: #2378c3;
  --color-blue-60: #2c608a;
  --color-blue-70: #274863;
  --color-blue-80: #1f303e;
  --color-blue-90: #11181d;

  --color-blue-vivid-50: #0076d6;

  --color-gray-cool-30: #a9aeb1;
  --color-gray-cool-80: #2d2e2f;
}


/* * {margin:0;padding:0;box-sizing:border-box;} */

/*
html, body {height: 100%;}
body {
  align-items: stretch;
  display: flex; 
  flex-flow: column; 
  font-family: 'Inter', 'helvetica neue', arial, sans-serif; 
  justify-content: center; 
  padding: 2em;
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
} */

.field {
  color: var(--color-gray-cool-80);
/*   margin: 0 auto; */
  max-width: 30em;
  width: 100%;
  font-family: 'Inter', 'helvetica neue', arial, sans-serif; 
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
}

.field label {
  color: var(--color-gray-cool-80); 
  display: block;
  margin: .1em 0 1em; 
  font-size: 1.25em; 
  font-weight: 700;
  padding: 0;
}

@media (max-width: 600px) {
  .field {
    max-width: none;
  }
}


/* Autocomplete styles */
.autocomplete {
  --listbox-h: 100%;
  --listbox-w: 100%;
  position: relative;
}

.autocomplete [type=text] {
  border: 1px solid var(--color-blue-60);
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;    
  font-size: inherit;
  font-family: inherit;
  line-height: 1.25;    
  padding: .5em .75em;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  width: 100%;
  &:focus {
    box-shadow: 0 0 0 4px var(--color-blue-20);
    outline: 0;
  }
  &::selection {
    background: var(--color-blue-10);
  }
}

.autocomplete-isFocused {
  outline-offset: 0;
  outline: 4px solid var(--color-blue-20);
}

.autocomplete svg {
  fill: currentColor;
  height: 12px;
  position: absolute;
  right: 0.6em;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

.autocomplete [role=listbox] {
  background: var(--color-blue-5);
  border-radius: 0; 
  border-bottom-left-radius: .25em; border-bottom-right-radius: .25em;
  border: 1px solid var(--color-blue-60);
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  max-height: 12em;
  -moz-box-sizing: border-box;
  overflow-y: auto;
  overflow-y: scroll; /* has to be scroll, not auto */
  padding: 0;
  position: absolute;
  top: calc(100% - 1px);
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  z-index: 2;
}

.autocomplete [role=option] {
  border-bottom: 1px solid rgba(0,0,0,.3); 
  border-color: var(--color-blue-10);
  display: block;
  line-height: 22px;
  margin: 0;
  outline: none;
  padding: .5em .75em;
  position: relative;
  &:last-of-type {
    border-bottom: none;
  }
}

.autocomplete-optionNoResults {
  cursor: not-allowed;
  display: block;
  line-height: 22px;
  padding: .5em .75em;
}

.autocomplete [role=option]:hover,
.autocomplete [role=option][aria-selected="true"] {
  background-color: var(--color-blue-vivid-50);
  border-color: var(--color-blue-vivid-50);
  color: #FFF;
}

@media (prefers-reduced-motion: no-preference) {
  .autocomplete {
    &::before {
      background: var(--color-blue-5);
      border-radius: 0;
      border-bottom-left-radius: .25em; border-bottom-right-radius: .25em;
      border: var(--color-blue-70) 1px solid;
      box-sizing: border-box;
      content: "";
      display: block;
      height: var(--listbox-h);
      pointer-events: none;
      position: absolute; top: calc(100% - 1px); left: 0;
      transform: scaleY(0);
      transform-origin: 50% 0%;            
      width: var(--listbox-w); width: 100%;
      z-index: 2;
    }
    &::after {
      background: var(--color-blue-70);
      content: none;
      display: block;
      height: 1px;
      left: 0;
      position: absolute; 
      top: calc(100% - 1px); 
      width: var(--listbox-w); width: 100%;
      z-index: 3;
    }
  }

  .autocomplete.autocomplete-focusWithin {
    &::before {
      transform: scaleY(1);
      transition: transform .2s cubic-bezier(.6,.18,.1,1);
    }
    &::after {
      content: "";
    }
  }

  .autocomplete.autocomplete-focusWithin svg {
    @keyframes arrowPulse {
      0%      {transform: translateY(calc(-50% + 0px));}
      30%     {transform: translateY(calc(-50% + 2px));}
      100%    {transform: translateY(calc(-50% + 0px));}
    }
    animation: arrowPulse .25s ease;
  }

  .autocomplete.autocomplete-focusWithin [role=listbox] {
    opacity: 1;
    transition: opacity .2s ease-out .2s;
  }

  .autocomplete [role=listbox] {
    opacity: 0;
    transition: none;
  }

  .autocomplete [role=option] {
    overflow: visible;
    &::before {
      background: var(--color-blue-vivid-50);
      content: "";
      display: block;
      left: 0;
      height: 100%;
      opacity: 0;
      position: absolute;
      pointer-events: none;
      transition: opacity .4s ease-out;
      top: 0; 
      width: 100%; 
      z-index: -1;
    }
  }
}


/* Shortcut styles */
.shortcut {
  font-size: .875em;
  margin: .1em 0 1.25em; /*margin: 1.25em 0 0;*/
  line-height: 110%;
  &:focus-within {
    outline: none;
  }
  &:focus {
    outline: solid 4px var(--color-blue-20);
  }
}

.shortcut button {
  background: var(--color-blue-10); background: var(--color-blue-60);
  border: none;
  border-radius: 5em;
  color: var(--color-blue-70); color: #FFF;
  display: inline-block;
  font-size: 90%;
  line-height: 110%;
  margin: 0; margin: .25em .4em .25em 0;
  padding: .3em .7em .3em;
  vertical-align: baseline;
  -webkit-appearance: none;
  &:hover, &:focus {
    background: var(--color-blue-70);
    outline: 0;
  }
  &::-moz-focus-inner {border: 0;}
  &:focus {
    box-shadow: 0 0 0 4px var(--color-blue-20);
  }
  &:active {background: var(--color-blue-80);}
}

@media (prefers-reduced-motion: no-preference) {
  .shortcut button {
    transition: background .2s ease;
  }
}

/* utilities */
.visually-hidden { 
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); 
  height: 1px; 
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap; /* added line */
  width: 1px;
}

.hidden {
  display: none;
}
</style>

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Autocomplete - by Darin Senneff - extending Adam Silvers code</h1>

      <p><a href="https://codepen.io/dsenneff/pen/PoqONrO">Source code</a></p>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form>
        <div class="field">
          <label for="field-dropdown">
            <span class="field-label">Agent name:</span>
          </label>

          <select name="field-dropdown" id="field-dropdown">
            <option value="">Select</option>
          </select>
        </div>
      </form>

    </div>
  </div>



{% endblock %}

{% block pageScripts %}

<script type="text/javascript">

// Autocomplete componenet
function Autocomplete(select,shortcuts,shortcutText) {
  this.select = select;
  this.container = select.parentElement;
  if(shortcuts) {
    this.shortcuts = shortcuts;
    this.shortcutText = shortcutText;
    this.createShortcuts();
  }
  this.wrapper = document.createElement('div')
  this.wrapper.classList.add('autocomplete');
  this.wrapper.id = this.select.name + '-autocomplete';
  this.container.appendChild(this.wrapper);
  this.createTextBox();
  this.createArrowIcon();
  this.createMenu();
  this.hideSelectBox();
  this.createStatusBox();
  this.setupKeys();
  this.setMenuHeight();

  document.addEventListener('click', this.onDocumentClick.bind(this));
};

Autocomplete.prototype.onDocumentClick = function(e) {
  // closes menu when clicked outside
  if(!this.container.contains(e.target)) {
    this.hideMenu();
    this.removeTextBoxFocus();
  }
};

Autocomplete.prototype.setupKeys = function() {
  this.keys = {
    enter: 13,
    esc: 27,
    space: 32,
    up: 38,
    down: 40,
    tab: 9,
    left: 37,
    right: 39,
    shift: 16
  };
};

Autocomplete.prototype.onTextBoxFocus = function() {
  this.textBox.classList.add('autocomplete-isFocused');
};

Autocomplete.prototype.removeTextBoxFocus = function() {
  this.textBox.classList.remove('autocomplete-isFocused');
};

Autocomplete.prototype.onTextBoxClick = function(e) {
  this.clearOptions();
  var options = this.getAllOptions();
  this.buildMenu(options);
  this.updateStatus(options.length);
  this.showMenu();
  if(typeof e.currentTarget.select === 'function') {
    e.currentTarget.select();
  }
};

Autocomplete.prototype.onTextBoxKeyUp = function(e) {
  switch (e.keyCode) {
    case this.keys.esc:
    case this.keys.up:
    case this.keys.left:
    case this.keys.right:
    case this.keys.space:
    case this.keys.enter:
    case this.keys.tab:
    case this.keys.shift:
      // ignore these keys otherwise
      // the menu will show briefly
      break;
    case this.keys.down:
      this.onTextBoxDownPressed(e);
      break;
    default:
      this.onTextBoxType(e);
  }
};

Autocomplete.prototype.onMenuKeyDown = function(e) {
  switch (e.keyCode) {
    case this.keys.up:
      // want to highlight previous option
      this.onOptionUpArrow(e);
      break;
    case this.keys.down:
      // want to highlight next suggestion
      this.onOptionDownArrow(e);
      break;
    case this.keys.enter:
      // want to select the suggestion
      this.onOptionEnter(e);
      break;
    case this.keys.space:
      // want to select the suggestion
      this.onOptionSpace(e);
      break;
    case this.keys.esc:
      // want to hide options
      this.onOptionEscape(e);
      break;
    case this.keys.tab:
      this.hideMenu();
      this.removeTextBoxFocus();
      break;
    default:
      this.textBox.focus();
  }
};

Autocomplete.prototype.onTextBoxType = function(e) {
  if(this.textBox.value.trim().length > 0) {
    var options = this.getOptions(this.textBox.value.trim().toLowerCase());
    this.buildMenu(options);
    this.showMenu();
    this.updateStatus(options.length);
  } else {
    this.hideMenu();
  }
  this.updateSelectBox();
};

Autocomplete.prototype.updateSelectBox = function() {
  var value = this.textBox.value.trim();
  var option = this.getMatchingOption(value);
  if(option) {
    this.select.value = option.value;
  } else {
    this.select.value = '';
  }
};

Autocomplete.prototype.onOptionEscape = function(e) {
  this.clearOptions();
  this.hideMenu();
  this.focusTextBox();
};

Autocomplete.prototype.focusTextBox = function() {
  this.textBox.focus();
};

Autocomplete.prototype.onOptionEnter = function(e) {
  if(this.isOptionSelected()) {
    this.selectActiveOption();
  }
  // we don't want form to submit
  e.preventDefault();
};

Autocomplete.prototype.onOptionSpace = function(e) {
  if(this.isOptionSelected()) {
    this.selectActiveOption();
    // we don't want a space to be added to text box
    e.preventDefault();
  }
};

Autocomplete.prototype.onOptionClick = function(e) {
  //var option = e.currentTarget;
  var option = e.target;
  this.selectOption(option);
};

Autocomplete.prototype.selectActiveOption = function() {
  var option = this.getActiveOption();
  this.selectOption(option);
};

Autocomplete.prototype.selectOption = function(option) {
  var value = option.getAttribute('data-option-value');
  this.setValue(value);
  this.hideMenu();
  this.focusTextBox();
};

Autocomplete.prototype.onTextBoxDownPressed = function(e) {
  var option;
  var options;
  var value = this.textBox.value.trim();
  // Empty value or exactly matches an option
  // then show all the options
  if(value.length === 0 || this.isExactMatch(value)) {
    options = this.getAllOptions();
    this.buildMenu(options);
    this.showMenu();
    option = this.getFirstOption();
    this.highlightOption(option);
  } else {
    options = this.getOptions(value);
    if(options.length > 0) {
      this.buildMenu(options);
      this.showMenu();
      option = this.getFirstOption();
      this.highlightOption(option);
    }
  }
};

Autocomplete.prototype.onOptionDownArrow = function(e) {
  var option = this.getNextOption();
  if(option) {
    this.highlightOption(option);
  }
  e.preventDefault();
};

Autocomplete.prototype.onOptionUpArrow = function(e) {
  if(this.isOptionSelected()) {
    option = this.getPreviousOption();
    if(option) {
      this.highlightOption(option);

    } else {
      this.focusTextBox();
      this.hideMenu();
    }
  }
  e.preventDefault();
};

Autocomplete.prototype.isOptionSelected = function() {
  return this.activeOptionId;
};

Autocomplete.prototype.getActiveOption = function() {
  return document.querySelector('#' + this.activeOptionId);
};

Autocomplete.prototype.getFirstOption = function() {
  return this.menu.querySelector('li:first-of-type');
};

Autocomplete.prototype.getPreviousOption = function() {
  return document.querySelector('#' + this.activeOptionId).previousSibling;
};

Autocomplete.prototype.getNextOption = function() {
  return document.querySelector('#' + this.activeOptionId).nextSibling;
};

Autocomplete.prototype.highlightOption = function(option) {
  if(this.activeOptionId) {
    var activeOption = this.getOptionById(this.activeOptionId);
    activeOption.setAttribute('aria-selected','false');
  }

  option.setAttribute('aria-selected','true');

  if(!this.isElementVisible(this.menu, option)) {
    this.menu.scrollTop = option.offsetTop;
  }

  this.activeOptionId = option.id;
  option.focus();
};

Autocomplete.prototype.getOptionById = function(id) {
  return document.querySelector('#'+id);
};

Autocomplete.prototype.showMenu = function() {
  this.menu.classList.remove('hidden');
  this.textBox.setAttribute('aria-expanded','true');
  this.setMenuHeight();
  setTimeout(()=>{
    this.wrapper.classList.add('autocomplete-focusWithin');
  }, 1);
};

Autocomplete.prototype.hideMenu = function() {
  this.wrapper.classList.remove('autocomplete-focusWithin');
  this.menu.classList.add('hidden');
  this.textBox.setAttribute('aria-expanded','false');
  this.activeOptionId = null;
  this.clearOptions();
};

Autocomplete.prototype.clearOptions = function() {
  this.menu.querySelectorAll('*').forEach(n => n.remove());
};

Autocomplete.prototype.getOptions = function(value) {
  var matches = [];
  this.select.querySelectorAll('option').forEach( (el) => {
    if(el.value.trim().length > 0 && el.textContent.toLowerCase().indexOf(value.toLowerCase()) > -1
       || el.getAttribute('data-alt') && el.getAttribute('data-alt').toLowerCase().indexOf(value.toLowerCase()) > -1) {     
      matches.push({
        text: el.textContent,
        value: el.value
      });
    }
  });
  return matches;
};

Autocomplete.prototype.getAllOptions = function() {
  var filtered = [];
  var options = this.select.querySelectorAll('option');
  var option;
  for(var i = 0; i < options.length; i++) {
    option = options[i];
    var value = option.value;
    if(value.trim().length > 0) {
      filtered.push({
        text: option.textContent,
        value: option.value
      });
    }
  }
  return filtered;
};

Autocomplete.prototype.isExactMatch = function(value) {
  return this.getMatchingOption(value);
};

Autocomplete.prototype.getMatchingOption = function(value) {
  var option = null;
  var options = this.select.querySelectorAll('option');
  for(var i = 0; i < options.length; i++) {
    if(options[i].textContent.toLowerCase() === value.toLowerCase()) {
      option = options[i];
      break;
    }
  }
  return option;
};

Autocomplete.prototype.buildMenu = function(options) {
  this.clearOptions();
  this.activeOptionId = null;

  var fragment = document.createDocumentFragment();

  if(options.length) {
    for(var i = 0; i < options.length; i++) {
      fragment.appendChild(this.getOptionHtml(i,options[i]));
      //this.menu.appendChild(this.getOptionHtml(i,options[i]));
    }
  } else {
    fragment.appendChild(this.getNoResultsOptionHtml());
    //this.menu.appendChild(this.getNoResultsOptionHtml());
  }
  this.menu.appendChild(fragment);
  this.menu.scrollTop = this.menu.scrollTop;

  //this.setMenuHeight();
};

Autocomplete.prototype.setMenuHeight = function() {
  this.menuHeight = this.menu.offsetHeight;
  this.menuHeight = this.menu.getBoundingClientRect().height;
  this.menuMaxHeight = getComputedStyle(this.menu).maxHeight;
  this.menuMaxHeight = this.menuMaxHeight.substring(0,this.menuMaxHeight.length-2);
  if(this.menuHeight == 0) {
    var h = this.menuHeight = this.menuMaxHeight;
  } else {
    var h = this.menuHeight;
  }
  this.wrapper.style.setProperty('--listbox-h',h+'px');
}

Autocomplete.prototype.getNoResultsOptionHtml = function() {
  var fragment = document.createDocumentFragment();
  var li = document.createElement('li');
  li.classList.add('autocomplete-optionNoResults');
  li.textContent = 'No results';
  fragment.appendChild(li);
  return fragment;
};

Autocomplete.prototype.getOptionHtml = function(i, option) {
  var fragment = document.createDocumentFragment();
  var li = document.createElement('li');
  li.id = 'autocomplete-option--' + i;
  li.setAttribute('tabindex','-1');
  li.setAttribute('aria-selected','false');
  li.setAttribute('role','option');
  li.setAttribute('data-option-value',option.value);
  li.textContent = option.text;
  fragment.appendChild(li);
  return fragment;
};

Autocomplete.prototype.createStatusBox = function() {
  this.status = document.createElement('div');
  this.status.setAttribute('aria-live','polite');
  this.status.setAttribute('role','status');
  this.status.classList.add('visually-hidden');
  this.wrapper.appendChild(this.status);
};

Autocomplete.prototype.updateStatus = function(result) {
  if(result === 0) {
    this.status.textContent = 'No results.';
  } else {
    this.status.textContent = result + ' results available.';
  }
};

Autocomplete.prototype.hideSelectBox = function() {
  this.select.setAttribute('aria-hidden','true');
  this.select.setAttribute('tabindex','-1');
  this.select.classList.add('visually-hidden');
  this.select.removeAttribute('id');
};

Autocomplete.prototype.createTextBox = function() {
  this.textBox = document.createElement('input');
  this.textBox.setAttribute('type','text');
  this.textBox.setAttribute('autocapitalize','none');
  this.textBox.setAttribute('autocomplete','off');
  this.textBox.setAttribute('aria-owns',this.getOptionsId());
  this.textBox.setAttribute('aria-autocomplete','list');
  this.textBox.setAttribute('role','combobox');
  this.textBox.setAttribute('aria-expanded',false);

  this.textBox.id = this.select.id;

  var selectedOption = this.select.selectedOptions[0];
  var selectedVal = selectedOption.value;

  if(selectedVal.trim().length > 0) {
    this.textBox.value = selectedOption.textContent;
  }

  this.wrapper.appendChild(this.textBox);

  //var wrapperBounds = this.wrapper.getBoundingClientRect();
  //this.wrapper.style.setProperty('--listbox-w',wrapperBounds.width+'px');

  this.textBox.addEventListener('click', this.onTextBoxClick.bind(this));

  this.textBox.addEventListener('keydown',(e) => {
    switch (e.keyCode) {
        // this ensures that when users tabs away
        // from textbox that the normal tab sequence
        // is adhered to. We hide the options, which
        // removes the ability to focus the options
      case this.keys.tab:
        this.hideMenu();
        this.removeTextBoxFocus();
        break;
      case this.keys.esc:
        this.onOptionEscape(e);
        break;
    }
  }, this);
  this.textBox.addEventListener('keyup',this.onTextBoxKeyUp.bind(this));
  this.textBox.addEventListener('focus',this.onTextBoxFocus.bind(this));

};

Autocomplete.prototype.getOptionsId = function() {
  return 'autocomplete-options--'+this.select.id;
};

Autocomplete.prototype.createShortcuts = function() {
  var frag = document.createDocumentFragment();

  this.shortcutWrapper = document.createElement('p');
  this.shortcutWrapper.setAttribute('tabIndex','0');
  this.shortcutWrapper.classList.add('shortcut');
  this.shortcutWrapper.setAttribute('role','menubar');
  this.shortcutWrapper.addEventListener('keydown',this.onShortcutKeyDown.bind(this));
  frag.appendChild(this.shortcutWrapper);

  this.shortcutLabel = document.createElement('span');
  this.shortcutLabel.classList.add('shortcut--label');
  this.shortcutLabel.setAttribute('role','heading');
  this.shortcutLabel.textContent = this.shortcutText;
  this.shortcutLabel.id = this.select.name + '-shortcut--label';
  this.shortcutWrapper.setAttribute('aria-labelledby',this.shortcutLabel.id);
  this.shortcutWrapper.appendChild(this.shortcutLabel);

  //this.shortcutButtons = document.createElement('ul');
  //this.shortcutButtons.id = this.select.name + '-shortcut--buttons';
  //this.shortcutButtons.classList.add('shortcut--buttons');
  //this.shortcutButtons.setAttribute('role','menu');
  //this.shortcutWrapper.appendChild(this.shortcutButtons);

  //this.shortcuts.forEach( (shortcut) => {
  for(var i = 0; i < this.shortcuts.length; i++) {
    //var li = document.createElement('li');
    //li.setAttribute('role','menuitem');
    var option = this.select.querySelector(`option:nth-of-type(${this.shortcuts[i]+1})`);
    var button = document.createElement('button');
    button.setAttribute('type','button');
    button.setAttribute('role','menuitem');
    button.setAttribute('tabIndex','-1');
    button.setAttribute('data-option-value',this.shortcuts[i]);
    //button.textContent = option.textContent;
    button.innerHTML = '<span class="visually-hidden">Enter </span>' + option.textContent;
    button.id = 'shortcut--button-' + i;
    button.addEventListener('click', this.onShortcutClick.bind(this));
    //li.appendChild(button);
    this.shortcutWrapper.appendChild(button);
    //this.shortcutButtons.appendChild(li);
  }
  this.activeShortcutId = 'shortcut--button-0';

  this.container.appendChild(frag);
};

Autocomplete.prototype.onShortcutClick = function(e) {
  //this.selectOption(e.target);
  var value = e.target.getAttribute('data-option-value');
  this.setValue(value);
};

Autocomplete.prototype.onShortcutKeyDown = function(e) {
  switch (e.keyCode) {
    case this.keys.up:
      this.onShortcutUpArrow(e);
      break;
    case this.keys.left:
      this.onShortcutUpArrow(e);
      break;
    case this.keys.down:
      this.onShortcutDownArrow(e);
      break;
    case this.keys.right:
      this.onShortcutDownArrow(e);
      break;
    case this.keys.esc:
      this.onShortcutEsc(e);
      break;
    case this.keys.enter:
      this.onShortcutEnter(e);
      break;
    case this.keys.space:
      this.onShortcutEnter(e);
      break;
  }
};

Autocomplete.prototype.onShortcutEnter = function(e) {
  if(document.activeElement == this.shortcutWrapper) {
    this.onShortcutDownArrow(e);
  }
}

Autocomplete.prototype.onShortcutEsc = function(e) {
  this.shortcutWrapper.focus();
}

Autocomplete.prototype.onShortcutUpArrow = function(e) {
  if(document.activeElement == this.shortcutWrapper) {
    document.querySelector('#' + this.activeShortcutId).focus();
  } else {
    var shortcut = this.getPrevShortcut();
    shortcut.focus();
  }
  e.preventDefault();
}

Autocomplete.prototype.onShortcutDownArrow = function(e) {
  if(document.activeElement == this.shortcutWrapper) {
    document.querySelector('#' + this.activeShortcutId).focus();
  } else {
    var shortcut = this.getNextShortcut();
    shortcut.focus();
  }
  e.preventDefault();
}

Autocomplete.prototype.getPrevShortcut = function() {
  var el;
  var l = this.activeShortcutId.length;
  var num = parseInt(this.activeShortcutId.substring(l-1,l));
  if(num > 0) {
    num--;
  } else {
    num = this.shortcuts.length-1;
  }
  el = document.querySelector('#shortcut--button-'+num);
  this.activeShortcutId = el.id;
  return el;
};

Autocomplete.prototype.getNextShortcut = function() {
  var el;
  var l = this.activeShortcutId.length;
  var num = parseInt(this.activeShortcutId.substring(l-1,l));
  if(num < this.shortcuts.length-1) {
    num++;
  } else {
    num = 0;
  }
  el = document.querySelector('#shortcut--button-'+num);
  this.activeShortcutId = el.id;
  return el;
};

Autocomplete.prototype.createArrowIcon = function() {
  var ns = 'http://www.w3.org/2000/svg';
  var arrow = document.createElementNS(ns,'svg');
  //var svg = '<svg focusable="false" version="1.1" xmlns="http://www.w3.org/2000/svg"><g><polygon points="0 0 22 0 11 17"></polygon></g></svg>';
  arrow.setAttributeNS(ns,'focusable','false');
  arrow.setAttributeNS(ns,'version','1.1');
  arrow.setAttributeNS(ns,'viewBox','0 0 22 17');
  arrow.setAttributeNS(ns,'width','16');
  arrow.setAttributeNS(ns,'height','12');
  arrow.classList.add('field-dropdown--arrow');
  //var g = document.createElementNS(ns,'g');
  var shape = document.createElementNS(ns,'polygon');
  shape.setAttributeNS(null,'points','0 0 16 0 8 12');
  //g.appendChild(shape);
  arrow.appendChild(shape);
  this.wrapper.appendChild(arrow);
  arrow = document.querySelector('.field-dropdown--arrow');
  arrow.addEventListener('click', this.onArrowClick.bind(this));
};

Autocomplete.prototype.onArrowClick = function(e) {
  this.clearOptions();
  var options = this.getAllOptions();
  this.buildMenu(options);
  this.updateStatus(options.length);
  this.showMenu();
  this.textBox.focus();
};

Autocomplete.prototype.createMenu = function() {
  this.menu = document.createElement('ul');
  this.menu.id = this.getOptionsId();
  this.menu.setAttribute('role','listbox');
  this.menu.classList.add('hidden');
  this.wrapper.appendChild(this.menu);
  this.menu.addEventListener('click', this.onOptionClick.bind(this));
  this.menu.addEventListener('keydown', this.onMenuKeyDown.bind(this));

  //this.wrapper.style.setProperty('--listbox-h',getComputedStyle(this.menu).maxHeight);
};

Autocomplete.prototype.isElementVisible = function(container, element) {
  var containerBounds = container.getBoundingClientRect();
  var elementBounds = element.getBoundingClientRect();
  var containerHeight = containerBounds.height;
  var elementTop = elementBounds.top;
  var containerTop = containerBounds.top;
  var elementHeight = elementBounds.height;  
  var visible;

  if ((elementTop - containerTop < 0) || (elementTop - containerTop + elementHeight > containerHeight)) {
    visible = false;
  } else {
    visible = true;
  }
  return visible;
};

Autocomplete.prototype.getOption = function(value) {
  return this.select.querySelector('option[value="'+value+'"]');
};

Autocomplete.prototype.setValue = function(val) {
  this.select.value = val;
  var text = this.getOption(val).textContent;
  if(val.trim().length > 0) {
    this.textBox.value = text;
    this.status.textContent = text + ' entered';
  } else {
    this.textBox.value = '';
  }
};


// vars
const dropdown = document.querySelector('#field-dropdown');

const names = ['Wendi Alfonso','Fletcher Birdsell','Kyra Bohm','Margery Casale','Blondell Christy','Chere Colgan','Herman Coller','Sharri Conforti','Melvin Corrao','Arthur Deloney','Yasmine Divito','Lelia Ferrel','Roxann Folk','Monty Fondren','Rosalee Fowkes','Jake Galeana','Kati Gullick','Jaymie Hennigan','Latoya Hillis','Charity Jason','Louie Jen','Carman Kehr','Lauralee Liedtke','Simon Lightfoot','Pearl Lucy','Merlyn Lupo','Christiana Mccaulley','Olinda Mcgeorge','Neida Mcraney','Clarine Mersch','Bryce Mery','Audrea Pursel','Jeanice Rhine','Shelby Roquemore','Marti Royce','Pauletta Rumery','Gavin Sabir','Odessa Siu','Raven Speaks','Cassidy Stonesifer','Augustus Tavares','Collette Teaster','Rolf Truex','Fransisca Vermillion','Carola Wenger','Jaimie Wert','Rocky Westphal','Joni Wieczorek','Kattie Wirtz','Cecile Zingaro'];
let nums = [];
let recentNames = [];

let i = 1, opt;
const frag = document.createDocumentFragment();

// populate select element with options
names.forEach( (name) => {
  opt = document.createElement('option');
  opt.innerText = name;
  opt.setAttribute('value',i);
  frag.appendChild(opt);
  nums.push(i);
  i++;  
});
dropdown.appendChild(frag);

// get 3 random names from list to use as 'recent names'
nums = shuffle(nums).splice(3);
nums.splice(3);
nums.forEach( (num) => {
  recentNames.push(names[num]);
});

// initialize Autocomplete component w/optional shorcut parameters
const ac = new Autocomplete(dropdown,nums,'Frequently used: ');
// initialize Autocomplete component only
//const ac = new Autocomplete(dropdown);

// helper functions
function shuffle(array) {
  var i = array.length, j = 0,temp;
  while (i--) {
    j = Math.floor(Math.random() * (i+1));
    // swap randomly chosen element with current element
    temp = array[i];
    array[i] = array[j];
    array[j] = temp;
  }
  return array;
}

</script>
{% endblock %}
