
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Code examples for the GOV.UK Prototype Kit
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}


    <h2 class="govuk-heading-m">My example code</h2>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="checkboxes/checkbox-routing-index">routing based on - if one or more checkboxes have been checked</a></li>
        <li><a class="govuk-link" href="autocomplete/index">autocomplete - accessible autocomplete</a></li>
        <li><a href="session/index">reading and writing session data</a> - set up session data and view whats stored</li>
        <li>search</li>
        <li>form validation (will be a link to the form validation repo/app Ros and I made)</li>
      </ul>
    </p>


    <h2 class="govuk-heading-m">Standard kit examples and documentation</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
