
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit examples
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Code examples for the GOV.UK Prototype Kit
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}

    <p class="govuk-body-l">things i've noodled about with - you can take for your prototypes</p>
    <p>inspired by problems i've wanted to solve, and/or code taken/adapted from things i've seen good people tweet/write about</p>

    <h2 class="govuk-heading-m">Example solutions and code</h2>
    
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="checkboxes/">routing based on - if one or more checkboxes have been checked</a></li>
        <li><a class="govuk-link" href="autocomplete/index">autocomplete - accessible autocomplete</a>. version of alphagov autocomplete - improved by saving the value in the session/loading it from the session</li>
        <li><a class="govuk-link" href="session/index">setting up, reading and writing session data</a> - useful for user research sessions (like save and return) - set up session data and view whats stored</li>
        <li><a class="govuk-link" href="syntax-highlighting/">code highlighting - html, css and js</a> display code easily and let people copy and paste it</li>
        <li>dynamic <a class="govuk-link" href="gallery/">gallery of pages</a> for your service (real pages, not screenshots)</li>
        <li><a class="govuk-link" href="search/">search</a> - work in progress</li>
        <li><a href="https://gov-proto-kit-form-validation.herokuapp.com">form validation</a> (different app - takes 30s to wake) - as per the design manual except for one variant of date input - it always highlights whole date (so can't yet do only one field of date input)<br><a href="https://github.com/LandRegistry/govuk-prototype-kit-form-validation">source code</a></li>
      </ul>
    </p>

    <h2 class="govuk-heading-m">Source code</h2>
    <p class="govuk-body-l"><a href="https://github.com/AndyPorter/proto-example-code">help yourself to the code</a></p>
    <p>If you can find your way round the proto kit you can probably clone this repo/app it and see how the things work.  If not <a href="https://twitter.com/hindsightery">hit me up on twitter</a>.  Oh and if you can make better versions, let me know, i'd love to learn from/copy your code :)</p>


    <h2 class="govuk-heading-m">Standard kit examples and documentation</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
